* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    header { position: sticky;
        div {
            div {
                ul {
                    li {list-style-type: none; &:hover{height: 10px;}}
                }
            }
        }
    }
}


